body, html {
  margin: 0;
  font-family: 'Microsoft YaHei', sans-serif;
  background-color: #282c34;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul li {
  user-select: none;
}

.App {
  box-sizing: border-box;
  min-height: 100vh;
  width: 50%;
  padding-top: 10%;
  margin: auto;
  color: white;
  font-size: calc(10px + 2vmin);
  white-space: nowrap;
}