body, html {
  margin: 0;
  font-family: 'Microsoft YaHei', sans-serif;
  background-color: #282c34;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul li {
  user-select: none;
}

#root {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding-top: 8%;
}

.App {
  margin: 0 auto;
  color: white;
  font-size: calc(10px + 1vmin);
  white-space: nowrap;
}

.App button {
  padding: 2px 8px;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  color: #fff;
  background: #177ddc;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
}